<mat-tab-group>
  <mat-tab label="Editar">
    <mat-form-field appearance="fill" (change)="onChangeMarkdown($event)">
      <mat-label>{{placeHolderTextArea}}</mat-label>
      <textarea [(ngModel)]="contenidoMarkDown" matInput></textarea>
      <!-- [(ngModel)] sirve para para hacer un canal de coble via y se escrbe [()] -->
    </mat-form-field>
  </mat-tab>
  (change)="changeMarkdown.emit(($event.target as HTMLInputElement).value)"


  <mat-tab label="Previw">
    <markdown [data]="contenidoMarkDown" ngPreserveWhitespace></markdown>
  </mat-tab>
</mat-tab-group>
