

<form (submit)="guardar()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName='nombre' >
    <mat-error *ngIf="form.invalid">{{obtenerErrores()}}</mat-error>
  </mat-form-field>

  <div>
    <button mat-flat-button color="primary" [disabled]="form.invalid">
      <!--[disabled]="form.invalid" sirve mientras no haya algo en el input no se mostrara boton -->
      Guardar Cambios
    </button>
    <a mat-stroked-button routerLink="/generos">
      Cancelar
    </a>
  </div>

  </form>
