<form formControlName="form" (submit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input formControlName="nombre" matInput>
    <mat-error *ngIf="form.invalid">El campo nombre es requerido</mat-error>
  </mat-form-field>

  <h2>Seleccione el cine en el mapa</h2>
  <app-mapa (coordenadaSeleccionada)="coordenadaSeleccionada($event)"></app-mapa>

  <button mat-flat-button color="primary" [disabled]="form.invalid">
    Guardar
  </button>
  <a mat-stroked-button routerLink="/cines">
    Cancelar
  </a>

</form>
